@media print {
   
    html {
        font-family: Georgia, 'Times New Roman', Times, serif;
        text-align: center;
        
    }

    body {
        margin: 1in;
        height: 100%;
        overflow: hidden;
    }
    h1 {
        text-align: center;
    }
    #direct-grid {
        page-break-before: avoid;
    }

    h1,
    h2 {
        text-transform: capitalize;
    }

    p span {
        padding-right: 10px;
    }

    nav,
    form,
    figcaption,
    #ingredients,
    #directions,
    #side-dishes,
    #socials,
    img,
    ul {
        display: none;
    }

    a[href*="://"]::after,
    a:not([href^="/"])::after {
        content: " (" attr(href) ")";
        color: #000040;
    }
}

#site-search {
    display: none;
}

.icon icon-tabler icon-tabler-search {
  display: none;
  
}

#social menu li {
    list-style: none;
}


#tacomenu menu li {
    list-style: none;
}
